@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Quality Meter</h1>
    <p class="lead">Kindly login as Admin to define quality Metrics or as Auditor to use the metrics for quality evaluations  </p>

</div>
